#sidebar small {
	font-size: 9px;
	font-family: courier;
	color: #666;
	padding-left: 6px;
}

#sidebar .active {
	background: #FF9;
}

dt {
	margin-top: 20px;
}

#apiurl {
	width: 100%;
}

form.row, form.row input  {
	margin-bottom: 0;
}

#result {
	width: 100%;
	margin-bottom: 20px;
}

p.warning {
	padding: 8px 35px;
	border: 1px solid #D38C1B;
	background: #FBF2C3 url(../img/icnWarning.gif) no-repeat 8px 10px;
	font-size: 0.9em;
}